{% extends 'base.html' %}
{% block jquery %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        
        var results_counter = 0;
        var query = '';
        var location = '';
        $('#search_form').ajaxForm({
            dataType: 'json',
            beforeSubmit: function(){
        
            },
            success: function(response){
                if(response.success == 'true'){
                    $('.total_results').html("Total Results: " + response.total_results); 
                    $('.results').html(response.results); 
                    $('.results').append("<button class='btn btn-primary' id='load_more'>Load More</button>")
                    query = response.query;
                    location = response.location;
                }else{
                    alert('error');
                }
            }
        });
        
        $("#load_more").live('click', function(){
            results_counter += 10;
            var data = "location="+location+"&query="+query+"&results_counter="+results_counter;
            $.ajax({
                dataType: 'json',
                url: '{% url search %}',
                data: data,
                success: function(response){
                     if(response.success == 'true'){
                         $('.results').append(response.results);
                         $('button#load_more').remove(); 
                         $('.results').append("<button class='btn btn-primary' id='load_more'>Load More</button>")
                     }else{
                         alert('error');
                     }
                }
            });
        });
    });
    
    // show ajax spinner
    $(document).ajaxStart(function() {
        $('#spinner').show();
    }).ajaxStop(function() {
        $('#spinner').hide();
    });
</script>
{% endblock jquery %}
{% block content %}

{% include 'board/elements/search_form.html' %}

<h2 class='total_results'></h2>
<div class="results">
    
</div>
<div id="spinner"><img src="{{STATIC_URL}}img/loading.gif" /></div>

{% endblock content %}