{% extends 'base.html' %}
{% block jquery %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript">
    $(document).ready(function(){        
        $('#search_form').ajaxForm({
            dataType: 'json',
            beforeSubmit: function(){
        
            },
            success: function(response){
                if(response.success == 'true'){
                    alert('success');
                    $('.results').html(response.result); 
                    console.log(response);
                }else{
                    alert('error');
                    console.log(response);
                }
            }
        });
    });
    
    // show ajax spinner
    $(document).ajaxStart(function() {
        $('#spinner').show();
    }).ajaxStop(function() {
        $('#spinner').hide();
    });
</script>
{% endblock jquery %}
{% block content %}

{% include 'board/elements/search_form.html' %}


<div id="spinner"><img src="{{STATIC_URL}}img/loading.gif" /></div>
<div class="results">
    
</div>

{% endblock content %}